%form{action: '/gif'}
  .input-group
    %input{name: 'gif', type: 'text', class: 'form-control input-lg', placeholder: 'Keyboard Cat'}
      %span.input-group-btn
        %button.btn.btn-lg.btn-success{type: 'submit'}Go!
