%img{src: @image_url}

%p.text Refresh to get a new one!

.input-group
  %input{type: 'text', class: 'form-control copy-input', value: @image_url }
    %span.input-group-btn
      %button{ class: 'btn btn-default copy-btn', type: 'button' } Copy!
