%html{:lang => "en"}
  %head
    %title Gif Generator
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %link{ rel: 'stylesheet', href:"//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", media: 'screen'}
    %link{ rel: 'stylesheet', href:"//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css"}
    %link{ rel: 'stylesheet', href: "/stylesheets/gif.css" }
    %link{ rel: 'shortcut icon', href: '/favicon.ico', type: 'image/x-icon'}
    %link{ rel: 'icon', href: '/favicon.ico', type: 'image/x-icon'}
  %body
    .container
      .header
        %a{ href: url('/') }
          %h1.text-muted Gif Generator
          %p Search for any topic and enjoy your new gif :)
      .gifness.jumbotron
        = yield
      .footer
        .tag
          %i
            something
          %a{href: 'http://bomatson.com'} Bobby
          made
        .attribution
          %img{ src: '/images/giphy.png' }

    %script{ src: "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{ src: "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"}
    %script{ src: "/javascripts/application.js" }
