%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{src: "/javascripts/application.js"}
  %body
    %h1 Gif Generator
    %p Search for any topic and enjoy your new gif :)
    = yield
    %i
      something
      %a{href: 'http://github.com/bomatson'} Bobby
      made
